/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --primary-color: #FF6600	;
/* --primary-color: #FF8C00	; */
/* --primary-color: #047253; */
--secondary-color: #FF8C00;
--font-size: ;
--spacing: ;
}


/* Album Section Styles */
#album-section {
    max-width: 1400px;
    padding: 100px 10px;
    margin: auto;
    text-align: center;
}
#album-section h2{
    padding: 100px;
    color: var(--primary-color);
}

.albums {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.albums h3{
    padding: 20px 5px;
    text-align: center;
    color: black;
}

.album {
    /* flex: 1 1 calc(25% - 20px); 4 items per row with spacing */
    width: 23%;
    margin: 10px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.album img {
    max-width: 95%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}
.album-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 10px;
}
.album a{
    text-decoration: none;
    color: black;
}
.gallery-photos, .gallery-videos {
    text-decoration: none;
    padding: 5px 10px !important;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.gallery-photos {
    background-color: rgba(255, 68, 0, 0.067);
    border: none;
}
.gallery-videos{
    border: 1px solid lightgray;
}
.gallery-photos:hover{
    background-color: lightgray;
}
 .gallery-videos:hover {
   background-color: lightgray;
}


@media (max-width: 768px) {
    .album {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 calc(50% - 20px);
                flex: 1 1 calc(50% - 20px); /* 2 items per row for medium screens */
    }
}

@media (max-width: 480px) {
    #album-section h2{
        padding: 50px 20px;
    }
    .album {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%; /* 1 item per row for small screens */
    }
}