html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFont;
    src: url(./font/aileron.black.otf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #FF6600;
    --secondary-color: #FF8C00;
}

/* playlist section */
.playlist-section {
    padding-bottom: 100px;
    text-align: center;
   
}

.playlist-section .playlist-header {
    padding: 100px 20px;
}

.playlist-item {
    margin: auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start; /* Align items to the left */
}

.playlist-item .pitem {
    width: 23%; /* 4 columns for large screens */
    margin: 10px;
    padding: 5px 5px 20px 5px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.4s;
    /* Flexbox to space content */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.pitem img {
    width: 100%;
}

.pitem p {
    text-align: left;
    margin-top: 5px;
    padding: 5px;
    flex-grow: 1; /* Ensure it takes space to push down the <a> tag */
}

.pitem a {
    display: inline-block; /* Ensures it's an inline element */
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 5px 10px;
    margin-top: 20px;
    color: white;
    transition: 0.4s;
    align-self: center; /* Prevents full width stretching */
}


.pitem a:hover {
    transform: scale(1.2);
}




/* Responsive design starts here */
@media (max-width: 769px) {
    /* Display 3 columns between 481px and 769px */
    .playlist-item .pitem {
        width: 30%; /* 3 columns */
        margin: 10px;
    }
}

@media (max-width: 480px) {
    /* Display 2 columns for screens under 480px */
    .playlist-item .pitem {
        width: 48%; /* 2 columns */
        margin: 10px 1%;
    }
   
}
